a {
  color: #d03226;
}
body{
  margin: 0;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  font-family: Helvetica;
}

input[type=submit]{
  background-color: #d03226;
  border: none;
  color: white;
  border-radius: 15px;
}

button {
  background-color: #d03226;
  border: none;
  color: white;
  border-radius: 15px;
}

/* Header Container: */
header * {
  color:white;
  font-family: Helvetica;
  box-sizing: border-box;
  background: #111;
  width: 100%;
}
