a {
  color: #d03226;
}
body{
  margin: 0;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  font-family: Helvetica;
}

input[type=submit]{
  background-color: #d03226;
  border: none;
  color: white;
  border-radius: 15px;
}

input[type=reset]{
  background-color: #d03226;
  border: none;
  color: white;
  border-radius: 15px;
}

button {
  background-color: #d03226;
  border: none;
  color: white;
  border-radius: 15px;
}

/* Header Container: */
header * {
  color:white;
  font-family: Helvetica;
  box-sizing: border-box;
  background: #111;
  width: 100%;
}


#login {
  width: 25%;
  padding: 20px;
  margin: auto;
  overflow: auto;
}

.container {
  font-family: Gotham SSm A,Gotham SSm B;
  font-size: 1.2em;
  padding-top: 15vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  text-align: center;
  overflow: hidden;
}

.container label {
  font-family: Gotham SSm A,Gotham SSm B;
  font-size: 1.2em;
  margin-top: 10px;
}

#form-button {
  font-family: Gotham SSm A,Gotham SSm B;
  font-size: 1.2em;
  margin-top: 10px;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#nav-background {
  width: 175px;
  height: 40px;
  background: url("https://images.ctfassets.net/qjy3jg1udcmq/1MN5F84EVi0SaAieSkqY6S/46d632aa1811432f9c0a92600a1a5ee6/cf-logo-horizontal-2-color-white.png") 0 no-repeat;
  background-size: auto;
  background-size: contain;
  text-indent: -5000em;
}

.navbar li {
  width: auto;
  padding-right: 10vw;
}

.navbar li a {
  font-family: Gotham SSm A,Gotham SSm B;
  font-size: 1.2em;
}

th,td {
padding-left: 10px;
padding-right: 10px;
}