<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Common Pieces</title>

  <th:block th:fragment="css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/base.css" rel="stylesheet" type="text/css"/>
    <link href="/layout.css" rel="stylesheet" type="text/css"/>
    <link href="/modules.css" rel="stylesheet" type="text/css"/>
  </th:block>

</head>
<body>
    <section th:fragment="nav">
        <nav sec:authorize="isAuthenticated()" class="navbar">
          <!-- Thanks CF <3 -->
          <div id="nav-background"></div>
          <ul>
            <li><a href="/">Planner</a></li>
            <li><a href="/myCourses">My Courses</a></li>
            <li><a href="/aboutUs">About Us</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
            <h3>Code Planner</h3>
          </nav>
        
          <nav sec:authorize="isAnonymous()">
            <h3>Code Planner</h3>
            <a href="/">Home</a>
            <a href="/aboutUs">About Us</a>
            <a href="/login">Log In</a>
            <a href="/signUp">Sign Up</a>
          </nav>
    </section>
  
</body>
</html>