<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
    <th:block th:replace="fragments/common :: css"></th:block>
    <link href="/aboutUs.css" rel="stylesheet" type="text/css"/>

</head>

<body>

    <header>
        <div th:replace="fragments/common :: nav"></div>
    </header>
  
    <section class="studentProfiles">

        <div class="container">
            <div class="row">
                <div class="profiles">
                    <div class="mobile">
                        <div class="singleProfile">
                            <img src="photos/Jon.jpg">
                            <p>Prior to software development I worked on industrial combustion and low pollution technologies as a research engineer. I took new ideas, and made products out of them. I helped to bring those new products to market, and the company made an entire product line out of my ideas. I was using python at work to sort out experimental data, and I enjoyed that more than my actual work, so I decided to make it my career.</p>
                            <h5>James</h5>
                            <h6>Software Developer</h6>
                        </div>
                        <div class="singleProfile">
                            <img src="photos/Jon.jpg">
                            <p>I separated from the Navy to pursue my dream to develop technology that can assist others.  I enjoy empowering others to use technology. When I joined the military, I carried those same ideas and values through and did the very best I could to assist others and make things easier for everyone. So here I am, trying to make the world a better place.</p>
                            <h5>Jon</h5>
                            <h6>Software Developer</h6>
                        </div>
                            <div class="singleProfile">
                            <img src="photos/Sarah.jpg">
                            <p>My background has been in Environmental Science and Higher Education Administration. I’m known for utilizing servant leadership principles to help others be the best they can be, and for my passion for volunteering. I’m a life-long learner, community builder, forest steward, and horse master. I believe that technology could be a driving force in environmental conservation and environmental equality for our future and I'm looking forward to working on projects that focus on technological innovation to build a sustainable future.</p>
                            <h5>Sarah</h5>
                            <h6>Software Developer</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

  </section>

</body>
</html>