<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
    <th:block th:replace="fragments/common :: css"></th:block>
</head>

<body>

    <header>
        <div th:replace="fragments/common :: nav"></div>
    </header>
  
    <section class="profiles">

    <div class="container">
      <div class="row">
        <div class="profiles">
          <div class="mobile">
            <div class="singleProfile">
              <img>
              <p></p>
              <h5>James</h5>
              <h6>Software Developer</h6>
            </div>
            <div class="singleProfile">
                <img>
                <p></p>
                <h5>Jon</h5>
                <h6>Software Developer</h6>
            </div>
            <div class="singleProfile">
                <img>
                <p></p>
                <h5>Sarah</h5>
                <h6>Software Developer</h6>
            </div>
          </div>
        </div>
      </div>
    </div>


  </section>

</body>
</html>