<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
    <th:block th:replace="fragments/common :: css"></th:block>
    <link href="/aboutUs.css" rel="stylesheet" type="text/css"/>

</head>

<body>

    <header>
        <div th:replace="fragments/common :: nav"></div>
    </header>
  
    <section class="llama">

        <div class="container">
            <div class="row">
                <div class="profiles">
                    <div class="mobile">
                        <div class="singleProfile">
                            <img src="photos/JamesSquared.jpg">
                            <p>Research scientist in industrial combustion and low pollution technologies to Software Developer.</p>
                            <p>I was using python at work to sort out experimental data. I fell in love with coding, so I decided to make it my career.</p>
                            <h5>James</h5>
                            <h6>Software Developer</h6>
                            <a href="https://www.linkedin.com/in/james-dansie/">
                                <img src="photos/linkedin.png" rel="icon-linkedin" >
                            </a>
                            <a href="https://github.com/JamesDansie">
                                <img src="photos/github.png" rel="icon-linkedin" >
                            </a>
                        </div>
                        <div class="singleProfile">
                            <img src="photos/Jon.jpg">
                            <p>Navy IT to Software Developer.</p>
                            <p>I value building things to empower others and make things easier for everyone. So here I am, trying to make the world a better place.</p>
                            <h5>Jon</h5>
                            <h6>Software Developer</h6>
                            <a href="https://www.linkedin.com/in/veach09/">
                                <img src="photos/linkedin.png" rel="icon-linkedin" >
                            </a>
                            <a href="https://github.com/zaffierce">
                                <img src="photos/github.png" rel="icon-linkedin" >
                            </a>
                        </div>
                            <div class="singleProfile">
                            <img src="photos/Sarah.jpg">
                                <p>Environmental Science and Higher Education Administration to Software Developer.</p>
                                <p>I believe that technological innovation will be a driving force in environmental conservation, environmental equality, and sustainability.</p>
                            <h5>Sarah</h5>
                            <h6>Software Developer</h6>
                            <a href="https://www.linkedin.com/in/sarahjfisher/">
                                <img src="photos/linkedin.png" rel="icon-linkedin" >
                            </a>
                            <a href="https://github.com/sajafisher29">
                                <img src="photos/github.png" rel="icon-linkedin" >
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

  </section>

</body>
</html>