<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration</title>
  <th:block th:replace="fragments/common :: css"></th:block>

</head>
<body>
  <header>
      <div th:replace="fragments/common :: nav"></div>
  </header>
  <main>
    <div class="container">
        <form action="/signUp" method="POST">
          <!-- for on a label needs to match the id of the input -->
          <label for="username">Email</label>
          <input name="username" id="username" placeholder="first.last@email.com"/>
          <label for="password">Password</label>
          <input name="password" id="password" type="password" placeholder="***********"/>
          <label for="nameFirst">First Name</label>
          <input name="nameFirst" id="nameFirst" placeholder="first name"/>
          <label for="nameLast">Last Name</label>
          <input name="nameLast" id="nameLast" placeholder="last name"/>
          <input type="submit" />
          <input type="reset" />
        </form>
    </div>
  </main>
</body>
</html>