<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Log In</title>
  <th:block th:replace="fragments/common :: css"></th:block>

</head>
<body>
  <header>
      <div th:replace="fragments/common :: nav"></div>
  </header>
  <main>
      <form action="/login" method="POST">
        <label for="username">Username</label>
        <input name="username" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input type="submit" />
      </form>
  </main>
  
</body>
</html>