<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Courses</title>
  <th:block th:replace="fragments/common :: css"></th:block>

</head>
<body>
  <header>
      <div th:replace="fragments/common :: nav"></div>
  </header>
  <main>
    <h1>Saved Student Plans</h1>
    <div>
      <h4>
        Name of Plan - Placeholder
      </h4>
      <ol>
        <li>101 - date</li>
        <li>102 - date</li>
      </ol>
    </div>
  </main>
  
</body>
</html>